# System files
.DS_Store
Thumbs.db
desktop.ini

# IDE files
.vscode/
.idea/

# Local logs
*.log

# Dependencies
node_modules/
package.json
package-lock.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
